h2{
  font-size: 30px;
  line-height: 1.5;
}
.highlight {
  color: #2de6a8;
  text-align: left;
  will-change: transform;
  animation: fadeInOut 2.5s infinite; 
  display: inline-block;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
